.Post-header .item-number {
    float: right;
}

// Copy .username style from mention list to post number
.MentionsDropdown, .PostMention-preview, .Post-mentionedBy-preview {
    .PostPreview {
        .ProminentPostNumber {
            color: @text-color;
            font-weight: bold;
        }
    }
}
